body{
    display: grid;
    grid-template-areas:
    "cima cima"
    "babo babo"
    "alto alto"
    "baixo baixo";
     grid-template-rows: 100px 500px 100px;
     grid-template-columns: 400px auto;

}

     header{
        background-color: aqua;
        grid-area: cima;
     }

    aside{
        background-color: rgb(136, 255, 0);
        grid-area: babo;
    }
    main{
        background-color: blueviolet;
        grid-area: alto;
    }
    footer{
        background-color: rgb(226, 43, 43);
        grid-area: baixo;

    @media only screen (max-width:450px){
        body{display:grid;
            grid-template-areas:
    "cima cima"
    "babo babo"
    "alto alto"
    "baixo baixo";
     grid-template-rows:100px 500px 100px;
     grid-template columns: auto;
     }
    }
    


    
  

    